<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3>
  <form id="theForm" action="/success" method="post">
    <div class="row">
    <label for="name">Author name:</label>
    <input type="text" id = 'name' name="name" placeholder="Author Name"><br><br>
  </div>
    <div class="row">
    <label for="description">Recipes Description:</label>
    <textarea id = 'description' name="description" placeholder="Recipes Description"></textarea><br><br>
    <input id='submit' type="submit" value="Submit">
  </div>
  </form>
</div>

</body>
<% include partials/script %>
<script>
    $(document).ready(function ()  {
    $('#description').val("");
    $('#name').val("");
});
</script>
</html>